
<% provide(:title, "Help") %>


<h1>help</h1>
<p>
Get help on the ruby on rails tutorial at the
<a href="http://www.railstutorial.org/help">rails tutorial help page</a>
to get help on this sample app,see the
<a href="http://www.railstutorial.org/book"><em>ruby on Rails Tutorial</em>
book</a>.

</p>





